{% extends 'thriftshop/home.html' %}

{% block content %}

<br>
<br>

<div class="container">


<p><h4>{{zapato.titulo}}</h4></p>
{% if zapato.imagenArticulo %}
    <p><img src="{{zapato.imagenArticulo.url}}" alt=""></p>
{% endif %}
<p>Marca: {{zapato.marca}}</p>
<p>Talle: {{zapato.talle}}</p>
<p>Descripción: {{zapato.descripcion}}</p>
<p>Año: {{zapato.year}}</p>
<p>Precio(US$): {{zapato.precio}}</p>
<p>Teléfono de Contacto: {{zapato.telefonoContacto}}</p>
<p>Email de Contacto: {{zapato.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not zapato.comentarios.all %}
        No han comentado este articulo
    {% else %}
        {% for comentario in zapato.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' zapato.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}